.hero-section {
  position: relative;
  height: 350px;
  background-image: url('../assets/hero-section.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  font-weight: bold; 
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: white; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  font-weight: bold; 
}

.hero-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .hero-section {
    height: 310px;
  }

  .title-hero-section{
    font-size: 20px !important;
  }

  .description-hero-section{
    font-size: 15px !important;
  }

  .btn-animated{
    font-size: 1rem !important;
  }

  /* .hide-button{
    display: none !important;
  } */

  .subtitulo-resultados{
    font-size: 20px !important;
  }
}

@media (min-width: 481px) and (max-width: 770px) {
  .hero-section {
    height: 310px;
  }

  .title-hero-section{
    font-size: 27px !important;
  }

  .description-hero-section{
    font-size: 20px !important;
  }

  .btn-animated{
    font-size: 1rem !important;
  }

  /* .hide-button{
    display: none !important;
  } */
}
