.abrir-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Asegúrate de que este valor sea mayor que el z-index de otros elementos */
}

.modal {
    z-index: 1051; /* El modal debe tener un z-index mayor que el fondo oscuro */
}
.custom-modal-content {
    background-color: #1a1a1a !important;
    color: white !important;
    border: 1px solid #333;
}

.custom-modal-header {
    border-bottom: 1px solid #333;
    padding: 15px;
}

.custom-modal-title {
    color: white !important;
    font-size: 1.5em;
}

.custom-modal-body {
    padding: 15px;
}

.modal-body-content {
    display: flex;
}

.modal-image {
    flex: 1;
    margin-right: 20px;
}

.modal-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.modal-info {
    flex: 2;
}

.modal-info p {
    margin: 5px 0;
}

.rating {
    color: #ffcc00;
    font-size: 1.2em;
    margin-top: 10px;
}

.abrir-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.animacion.fadeIn {
    animation: fadeIn 0.3s;
}

.help-users{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}