body{
    background-color: rgb(45, 43, 43) !important;
}

.logo-navbar{
    width: 4rem;
    margin: 5px;
    border-radius: 50%;
}

.container-dmca {
    color: white;
    text-align: justify;
}


/* .bg-deku{
    background-color: rgb(55, 2, 55);
} */